p {
  margin: 0;
}

.Card__container  {
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.Card__img {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card__types {
  display: flex;
  justify-content: center;
}

.Card__type  {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: cyan;
  color: #fff;
}

.Card__name {
  text-align: center;
  font-weight: bold;
}

.Card__data {
  padding-bottom: 10px;
}

.Card__data .title {
  font-weight: 700;
}
